{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Category</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<header class="header_area">
        <div class="main_menu">
    
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
              <a class="navbar-brand logo_h" href="{% url 'main_page' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                  <li class="nav-item active"><a class="nav-link" href="{% url 'main_page' %}">Home</a></li>
                  <li class="nav-item">
                    <a href="{% url 'category' %}" class="nav-link"
                      >Shop</a>
                                </li>
                  <li class="nav-item">
                    <a href="{% url 'blog' %}" class="nav-link dropdown-toggle">Blog</a>
                                </li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                </ul>
    
                <ul class="nav-shop">
                  <li class="nav-item"><button><i class="ti-search"></i></button></li>
                  <li class="nav-item"><button><a href="{% url 'cart' %}"><i class="ti-shopping-cart"></i><span
                  class="nav-shop__circle"></span></a></button>
                  <li class="nav-item"><button><i class="far fa-user" style="margin-right:8px;"></i>{{ request.user }}</li></i></button></li>
                  <li class="nav-item"><a class="button button-header" href="{% url 'category' %}">Buy now</a></li>
                </ul>
     <a href="{% url 'logout' %}">Log out</a>
              </div>
            </div>
    
          </nav>
        </div>
      </header>


      <div class="main">
          <div class="container">
              <h1 style="text-align: center; color: #000; margin: 5% 0 ;" class="h1">Add Product</h1>
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <!-- {{ form.as_p }} -->
                  <div class="mt-1" style="padding-right: 18px; justify-content: center; text-align: center; margin: 0 auto;">
                    <div class="mb-3" style="margin-right: 18px; width: 50%; margin: 0 auto;">
                      {% render_field form.name type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="email-addon" %}
                  </div>
    
                 <div class="mb-3" style="margin-right: 18px;  width: 50%; margin: 0 auto;">
                      {% render_field form.category type="dropdown" class="form-control" placeholder="Category" aria-label="Name" aria-describedby="email-addon" %}
                  </div>
             
                <div class="mb-3" style="margin-right: 18px;  width: 50%; margin: 0 auto;">
                      {% render_field form.price type="text" class="form-control" placeholder="Price" aria-label="Name" aria-describedby="email-addon" %}
                  </div>
    
                  <div class="mb-3" style="margin-right: 18px;  width: 50%; margin: 0 auto;">
                    {% render_field form.color type="text" class="form-control" placeholder="Color" aria-label="Name" aria-describedby="email-addon" %}
                </div>  
    
                <div class="mb-3" style="margin-right: 18px;  width: 50%; margin: 0 auto;">
                   {% render_field form.memory type="dropdown" class="form-control" placeholder="Memory" aria-label="Name" aria-describedby="email-addon" %}
              </div>
              <div class="mb-3" style="margin-right: 18px;  width: 50%; margin: 0 auto;">
                {% render_field form.description type="text" class="form-control" placeholder="Description" aria-label="Name" aria-describedby="email-addon" %}
           </div>
           <div class="mb-3" style="margin-right: 18px;  width: 50%; margin: 0 auto;">
                {% render_field form.image type="file" class="form-control-file" %}
        </div>
           <button  style='margin:1% 0 8%;' type="submit" class="btn btn-primary">Add</button>
              </form>
          </div>
      </div>

</body>
</html>

